@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --vsp-primary: 196 26 26;    /* #c41a1a */
  --vsp-secondary: 19 116 184; /* #1374b8 */

  --bg: 255 255 255;
  --surface: 255 255 255;
  --text: 12 12 14;
  --muted: 110 110 120;
  --line: 230 230 235;
}

html,
body {
  height: 100%;
}

body {
  background: rgb(var(--bg));
  color: rgb(var(--text));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: rgba(196, 26, 26, 0.18);
}
